[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "cgal"]
	path = cgal
	url = https://github.com/CGAL/cgal.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "mpfr_win"]
	path = win/mpfr
	url = https://github.com/BrianGladman/mpfr.git
[submodule "win_mpir"]
	path = win/mpir
	url = https://github.com/BrianGladman/mpir.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "OpenMesh"]
	path = OpenMesh
	url = https://www.graphics.rwth-aachen.de:9000/OpenMesh/OpenMesh.git
[submodule "MeshFix"]
	path = MeshFix
	url = https://github.com/MarcoAttene/MeshFix-V2.1.git
[submodule "tetgen"]
	path = tetgen
	url = https://github.com/ufz/tetgen.git
[submodule "cork"]
	path = cork
	url = https://github.com/poormanslaserscanner/cork.git
[submodule "suitesparse-metis-for-windows"]
	path = suitesparse-metis-for-windows
	url = https://github.com/jlblancoc/suitesparse-metis-for-windows.git
