[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "cgal"]
	path = cgal
	url = https://github.com/CGAL/cgal.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "mpfr_win"]
	path = win/mpfr
	url = https://github.com/BrianGladman/mpfr.git
[submodule "win_mpir"]
	path = win/mpir
	url = https://github.com/BrianGladman/mpir.git
