[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "cgal"]
	path = cgal
	url = https://github.com/CGAL/cgal.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
